/* General Styles */
.containerCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginFormContainer {
  align-items: center;
  justify-content: center;
  margin: 40px 0 20px 0;
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: #343434;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Input Section */
.inputContainer {
  margin-top: 60px;
}

.inputWrapper {
  position: relative;
  margin-bottom: 17px;
}

.inputField {
  width: 100%;
  padding: 10px 15px 10px 45px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.inputIcon {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.inputField::placeholder {
  color: #828282;
  font-size: 15.3px;
  font-weight: 400;
}

/* Button Section */
.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.loginButton {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton:hover {
  background-color: #158fa1;
}

/* Register Section */
.registerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.registerText {
  margin-right: 10px;
  font-size: 16px;
  color: #828282;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 1.4rem;
  }

  .inputField {
    padding: 10px 15px 10px 40px;
    font-size: 0.9rem;
  }

  .loginButton {
    font-size: 0.9rem;
    padding: 8px;
  }

  .registerText {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }

  .inputField {
    padding: 8px 10px 8px 40px;
    font-size: 0.8rem;
  }

  .loginButton {
    font-size: 0.8rem;
    padding: 6px;
  }

  .registerText {
    font-size: 0.75rem;
  }
}
