.container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.leftSide {
  background-color: #17a2b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centeredElement {
  width: 250px;
  height: 240px;
  background-color: rgba(49, 127, 139, 50%);
  border-radius: 50%;
  position: absolute;
  top: 17%;
}

.image {
  width: 210px;
  height: 240px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.TextWrapper{
  position: relative;
  top: 30%;
  left: 21%;
  transform: translate(-50%, -50%);
}
.welcomeMessage {
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;

}

.welcomeSubMessage {
  font-size: 15.5px;
  text-align: center;
  color: #ffffff;
  margin-top: 8px;
  font-weight: 300;
}

/* Right side styles */
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 46%;
  left: 80%;
  transform: translate(-50%, -50%);
  height: 100vh;
}
.registerButton,.loginButton {
  width: 400px;              
  height: 45px;              
  padding: 0;                    
  background-color: transparent;
  color: #17a2b8;               
  border: 1px solid #17a2b8;    
  border-radius: 50px;
  font-size: 16px;           
  cursor: pointer;            
  display: flex;                 
  justify-content: center;       
  align-items: center;                            
  opacity: 1;                    
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative; 
  z-index: 1; 
}

/* Media queries for responsiveness */
@media (max-width: 1600px) {
  .leftSide {
    width: 60%;
  }

  .rightSide {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .leftSide {
    width: 100%;
    height: auto;
  }

  .rightSide {
    display: none;
  }

  .centeredElement {
    width: 80%;
    height: 80%;
  }
}